<div class="login">
    <div class="login__block">
      <div class="login__left">
        <div class="slider">
            <div class="img_container img_container-one">
                <!-- <img src="../../assets/images/img1.png" alt="image1"> -->
            </div>
            <div class="img_container img_container--two">
                <!-- <img src="../../assets/images/img2.png" alt="image2"> -->
            </div>
            <div class="img_container img_container--three">
                <!-- <img src="../../assets/images/img3.png" alt="image3"> -->
            </div>
            <div class="img_container img_container--four">
                <!-- <img src="../../assets/images/img3.png" alt="image3"> -->
            </div>

        </div>
        <div class="login__headings">
          <h1>Hello World!!!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur et est sed felis aliquet sollicitudin</p>
        </div>
      </div>
    </div>

    <div class="login__block login__block--secondary">
        <div class="login__right">
          <div class="login__headings login__headings--right">
            <h1>Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Curabitur et est sed felis aliquet sollicitudin</p>
          </div>
          <div class="login__form">
            <h2>Login</h2>
            <form class="form">
              <div class="form-field">
                <input type="email" name='email' id="email" placeholder="Email" required>
              </div>
              <div class="form-field">
                <input type="password" id="password" placeholder="Enter password" required>
              </div>
              <button class="primary-btn" type="submit">Login</button>
            </form>      
          </div>
          <p class="login__footer">Don't have an account yet?
            <a class="login__footer-link">Sign Up</a>
          </p>
        </div>
      </div>
</div>


