$primary-color: #102256;
$primary-color-light: #263563;
$secondary-color: #38a34f;
$color-dark: #000;
$color-light: #fff;
$disable-color: rgba(101,97,97,0.6);
$border-color: #ccc;

$headings: 14px;
$sub-headings: 12px;