.main-content{
    position: fixed;
    top: 60px;
    left: 250px;
    right: 0;
    padding: 20px;
    
}

.card{
    margin: 20px;
    &__header{
        height: 40px;
       // background: green;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-dark;
    }
    &__body{
        min-height: 75px;
        border: 1px solid $border-color;
        padding: 10px;
        max-width: 400px;
        margin: 0 auto;
    }
    &__footer{
        margin-top: 10px;
    }
}