.primary-btn{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    width: 100%;
    padding: 14px 0;
    background: #102256;
    color: #fff;

    &:hover{
        background-color: $primary-color-light;
    }
}

button:disabled {
    background-color: $color-light;
    border: 1px solid $border-color;
    color: $border-color;
    pointer-events: none;
    
 }
.secondary-btn{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    padding: 14px;
    background: $secondary-color;
    color: #fff;
}
.action-btn{
    display: flex;
    justify-content: space-around;

    &--secondary{
        justify-content: flex-start;
    }

  
}
