.primary-btn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    width: 100%;
    padding: 14px 0;
    background: #102256;
    color: #fff;

    &:hover {
        background-color: $primary-color-light;
    }
}

button:disabled {
    background-color: $color-light;
    border: 1px solid $border-color;
    color: $border-color;
    pointer-events: none;

}

.secondary-btn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    padding: 14px;
    background: $secondary-color;
    color: #fff;
}

.action-btn {
    display: flex;
    justify-content: space-around;

    &--secondary {
        justify-content: flex-start;

        input {
            margin-right: 20px;
        }
    }


}

.tertiary-btn {
    cursor: pointer;
    padding: 7px 10px 7px 7px;
    background: #EEEEEE;
    border: none;
    color: #8A8F95;
    font-size: 12px;

    i {
        font-size: 20px;
        line-height: 12px;
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: 3px;
    }

    &:hover{
        outline: 1px solid $primary-color;
        color: $primary-color;
    }
}